In [1]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"C:\Users\user\Desktop\AI & cybersecurity\kdd99_dataset.csv")

In [3]:
df.tail()

,Unnamed: 0,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,result
311024,311024,0,udp,private,SF,105,147,0,0,0,...,255,1.0,0.0,0.01,0.0,0.0,0.0,0.0,0.0,normal.
311025,311025,0,udp,private,SF,105,147,0,0,0,...,255,1.0,0.0,0.01,0.0,0.0,0.0,0.0,0.0,normal.
311026,311026,0,udp,private,SF,105,147,0,0,0,...,255,1.0,0.0,0.01,0.0,0.0,0.0,0.0,0.0,normal.
311027,311027,0,udp,private,SF,105,147,0,0,0,...,255,1.0,0.0,0.01,0.0,0.0,0.0,0.0,0.0,normal.
311028,311028,0,udp,private,SF,105,147,0,0,0,...,255,1.0,0.0,0.01,0.0,0.0,0.0,0.0,0.0,normal.

In [4]:
df = df.drop(columns = 'Unnamed: 0')
df.tail()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,result
311024,0,udp,private,SF,105,147,0,0,0,0,...,255,1.0,0.0,0.01,0.0,0.0,0.0,0.0,0.0,normal.
311025,0,udp,private,SF,105,147,0,0,0,0,...,255,1.0,0.0,0.01,0.0,0.0,0.0,0.0,0.0,normal.
311026,0,udp,private,SF,105,147,0,0,0,0,...,255,1.0,0.0,0.01,0.0,0.0,0.0,0.0,0.0,normal.
311027,0,udp,private,SF,105,147,0,0,0,0,...,255,1.0,0.0,0.01,0.0,0.0,0.0,0.0,0.0,normal.
311028,0,udp,private,SF,105,147,0,0,0,0,...,255,1.0,0.0,0.01,0.0,0.0,0.0,0.0,0.0,normal.

In [5]:
df.columns

Index(['duration', 'protocol_type', 'service', 'flag', 'src_bytes',
       'dst_bytes', 'land', 'wrong_fragment', 'urgent', 'hot',
       'num_failed_logins', 'logged_in', 'num_compromised', 'root_shell',
       'su_attempted', 'num_root', 'num_file_creations', 'num_shells',
       'num_access_files', 'num_outbound_cmds', 'is_host_login',
       'is_guest_login', 'count', 'srv_count', 'serror_rate',
       'srv_serror_rate', 'same_srv_rate', 'diff_srv_rate',
       'srv_diff_host_rate', 'una1', 'una2', 'dst_host_count',
       'dst_host_srv_count', 'dst_host_same_srv_rate',
       'dst_host_diff_srv_rate', 'dst_host_same_src_port_rate',
       'dst_host_srv_diff_host_rate', 'dst_host_serror_rate',
       'dst_host_srv_serror_rate', 'dst_host_rerror_rate',
       'dst_host_srv_rerror_rate', 'result'],
      dtype='object')

In [6]:
df.shape

(311029, 42)

In [7]:
len(df)

311029

## Creating timestamps as a dataframe and adding it to our original dataframe

In [8]:
from datetime import datetime

In [9]:
date_rng = pd.date_range(start='1/1/2018', end='1/08/2018', freq='S')

In [10]:
type(date_rng[0])

pandas._libs.tslibs.timestamps.Timestamp

In [11]:
date_rng

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 00:00:01',
               '2018-01-01 00:00:02', '2018-01-01 00:00:03',
               '2018-01-01 00:00:04', '2018-01-01 00:00:05',
               '2018-01-01 00:00:06', '2018-01-01 00:00:07',
               '2018-01-01 00:00:08', '2018-01-01 00:00:09',
               ...
               '2018-01-07 23:59:51', '2018-01-07 23:59:52',
               '2018-01-07 23:59:53', '2018-01-07 23:59:54',
               '2018-01-07 23:59:55', '2018-01-07 23:59:56',
               '2018-01-07 23:59:57', '2018-01-07 23:59:58',
               '2018-01-07 23:59:59', '2018-01-08 00:00:00'],
              dtype='datetime64[ns]', length=604801, freq='S')

In [12]:
len(date_rng)

604801

In [13]:
date_rng = date_rng[:len(df)]

In [14]:
len(date_rng)

311029

In [15]:
df_date = pd.DataFrame(date_rng, columns=['date'])

In [16]:
df_date.tail()

                      date
311024 2018-01-04 14:23:44
311025 2018-01-04 14:23:45
311026 2018-01-04 14:23:46
311027 2018-01-04 14:23:47
311028 2018-01-04 14:23:48

In [17]:
df_f = pd.concat([df, df_date.reindex(df.index)], axis=1)

In [18]:
df_f.tail()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,result,date
311024,0,udp,private,SF,105,147,0,0,0,0,...,1.0,0.0,0.01,0.0,0.0,0.0,0.0,0.0,normal.,2018-01-04 14:23:44
311025,0,udp,private,SF,105,147,0,0,0,0,...,1.0,0.0,0.01,0.0,0.0,0.0,0.0,0.0,normal.,2018-01-04 14:23:45
311026,0,udp,private,SF,105,147,0,0,0,0,...,1.0,0.0,0.01,0.0,0.0,0.0,0.0,0.0,normal.,2018-01-04 14:23:46
311027,0,udp,private,SF,105,147,0,0,0,0,...,1.0,0.0,0.01,0.0,0.0,0.0,0.0,0.0,normal.,2018-01-04 14:23:47
311028,0,udp,private,SF,105,147,0,0,0,0,...,1.0,0.0,0.01,0.0,0.0,0.0,0.0,0.0,normal.,2018-01-04 14:23:48

In [19]:
# Considering all protocol types (udp, imcp and tcp_sync) hence removing protocol type.
features = ["duration","src_bytes","wrong_fragment","count","urgent","num_compromised","srv_count","date"]
target = "result"

In [22]:
X = df_f.loc[:,features]
y = df_f.loc[:,target]

In [24]:
classes = np.unique(df_f['result'])
print(classes)

['apache2.' 'back.' 'buffer_overflow.' 'ftp_write.' 'guess_passwd.'
 'httptunnel.' 'imap.' 'ipsweep.' 'land.' 'loadmodule.' 'mailbomb.'
 'mscan.' 'multihop.' 'named.' 'neptune.' 'nmap.' 'normal.' 'perl.' 'phf.'
 'pod.' 'portsweep.' 'processtable.' 'ps.' 'rootkit.' 'saint.' 'satan.'
 'sendmail.' 'smurf.' 'snmpgetattack.' 'snmpguess.' 'sqlattack.'
 'teardrop.' 'udpstorm.' 'warezmaster.' 'worm.' 'xlock.' 'xsnoop.'
 'xterm.']

In [25]:
#getting the normal index from classes
print(list(classes).index('normal.'))

16

In [57]:
y.head()

0    0
1    0
2    0
3    1
4    1
Name: result, dtype: int64

In [56]:
#replacing all classes of attack with 1 and normal result with 0 in our dataset
for i in range(len(classes)):
    if i == 16:
        y = y.replace(classes[i], 0)
    else:
        y = y.replace(classes[i], 1)

In [50]:
train_size = int(len(df_f) * 0.8)
test_size = len(df_f) - train_size
X_train, X_test = X.iloc[0:train_size], X.iloc[train_size:len(df_f)]
y_train, y_test = y.iloc[0:train_size], y.iloc[train_size:len(df_f)]

print(X_train.shape, X_test.shape)
print(y_train.shape, y_test.shape)

(248823, 8) (62206, 8)
(248823,) (62206,)

In [27]:
def create_dataset(X, y, time_steps=1):
    Xs, ys = [], []
    for i in range(len(X) - time_steps):
        v = X.iloc[i:(i + time_steps)].values
        Xs.append(v)        
        ys.append(y.iloc[i + time_steps])
    return np.array(Xs), np.array(ys)

In [58]:
TIME_STEPS = 30

# reshape to [samples, time_steps, n_features]

X_train, y_train = create_dataset(X_train,y_train, TIME_STEPS)
X_test, y_test = create_dataset(X_test, y_test, TIME_STEPS)

In [81]:
print(X_train.shape,X_test.shape)
print(y_train.shape,y_test.shape)

(248793, 30, 8) (62176, 30, 8)
(248793,) (62176,)

## LSTM enocder

In [86]:
import keras
model = keras.Sequential()
model.add(keras.layers.LSTM(
    units=64, 
    input_shape=(X_train.shape[1], X_train.shape[2])
))
model.add(keras.layers.Dropout(rate=0.2))
model.add(keras.layers.RepeatVector(n=X_train.shape[1]))
model.add(keras.layers.LSTM(units=64))
model.add(keras.layers.Dropout(rate=0.2))
model.add(keras.layers.TimeDistributed(keras.layers.Dense(units = X_train.shape[2])))


model.compile(loss='mae', optimizer='adam')

In [87]:
model.fit(
    X_train, y_train,
    epochs=10,
    batch_size=32)

ValueError: Error when checking target: expected dropout_47 to have shape (64,) but got array with shape (1,)

###  Shapeerror ( was unable to fix trying for long time)

## Finding Anomolies

In [ ]:
X_train_pred = model.predict(X_train)

train_mae_loss = np.mean(np.abs(X_train_pred - X_train), axis=1)

In [ ]:
THRESHOLD = 0.7

X_test_pred = model.predict(X_test)

test_mae_loss = np.mean(np.abs(X_test_pred - X_test), axis=1)

## Getting all anomolies

In [ ]:
test_score_df = pd.DataFrame(index=test[TIME_STEPS:].index)
test_score_df['loss'] = test_mae_loss
test_score_df['threshold'] = THRESHOLD
test_score_df['anomaly'] = test_score_df.loss > test_score_df.threshold

In [ ]:
anomalies = test_score_df[test_score_df.anomaly == True]